@model QLTX.Models.EMotorbike

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var statusClass = "";
    var statusText = "";

    switch (Model.Status)
    {
        case EMotorbikeStatus.Renting:
            statusClass = "bg-warning";
            statusText = "Đang thuê";
            break;
        case EMotorbikeStatus.Ready:
            statusClass = "bg-success";
            statusText = "Sẵn sàng";
            break;
        case EMotorbikeStatus.Broken:
            statusClass = "bg-danger";
            statusText = "Xe hỏng";
            break;
    }
}

<main>
    <div class="container-fluid px-4">
        <h2 class="mt-4">Chi tiết</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Xe</li>
        </ol>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-4">
                        Tên loại xe
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.TypeMotorbike.Name)
                    </dd>
                    <dt class="col-sm-4">
                        Biển số xe
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.License)
                    </dd>
                    <dt class="col-sm-4">
                        Số khung
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.VinNumber)
                    </dd>
                    <dt class="col-sm-4">
                        Trạng thái
                    </dt>
                    <dd class="col-sm-8">
                        <span class="px-2 py-1 rounded text-white @statusClass">@statusText</span> @* @Html.DisplayFor(model => model.Status) *@
                    </dd>
                    
                   
                    @if (Model.Description is not null)
                    {
                        <dt class="col-sm-4">
                            Mô tả
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Description)
                        </dd>
                    }
                    
                    <dt class="col-sm-4">
                        Người tạo
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>
                    <dt class="col-sm-4">
                        Thời gian tạo
                    </dt>
                    <dd class="col-sm-8">
                        @Model.CreationTime.ToString("dd/MM/yyyy HH:mm")
                    </dd>
                    @if (!string.IsNullOrEmpty(Model.UpdatedBy))
                    {
                        <dt class="col-sm-4">
                            Người sửa cuối
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UpdatedBy)
                        </dd>
                        <dt class="col-sm-4">
                            Thời gian sửa
                        </dt>
                        <dd class="col-sm-8">
                            @Model.UpdationTime?.ToString("dd/MM/yyyy HH:mm")
                        </dd>
                    }
                </dl>
            </div>
            <div class="col-md-6">
                <dt class="col-sm-12">
                    Hình ảnh
                </dt>
                <dd class="col-sm-12">
                    @if (!string.IsNullOrEmpty(Model.ImageUrl))
                    {
                        <img src="@Model.ImageUrl" alt="Motorbike Image" style="max-width: 200px; height: auto;" />
                    }
                    else
                    {
                        <img src="/assets/img/no-image-100.png" alt="Motorbike Image" style="max-width: 200px; height: auto;" />
                    }
                </dd>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-2">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Cập nhật</a>
            </div>
            <div class="col-sm-10">
                <a asp-action="Index" class="btn btn-secondary">Đóng</a>
            </div>
        </div>
    </div>
</main>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

        
    }
}

<style>
    .bg-warning {
        background-color: #ffc107;  
        color: white; 
    }

    .bg-success {
        background-color: #28a745;  
        color: white;  
    }

    .bg-danger {
        background-color: #dc3545;  
        color: white;  
    }
</style>