@model IEnumerable<QLTX.Models.EMotorbike>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	int index = 0;
}


<main>
	<div class="container-fluid px-4">
		<h2 class="mt-4">
			Danh sách
		</h2>
		@if (ViewBag.SuccessMessage != null)
		{
			<div id="successMessage" class="alert alert-success alert-sm text-sm" role="alert">
				@ViewBag.SuccessMessage
			</div>
		}
		<p>
			<a asp-action="Create" class="btn btn-primary" id="openCreateModal">Thêm mới </a>
		</p>

		<div class="card mb-4">
			<div class="card-header">
				<i class="fa-solid fa-motorcycle me-1"></i>
				Danh sách xe cho thuê
			</div>
			<div class="card-body table-responsive">
				<table id="datatablesSimple" class="table table-striped" style="width:100%">
					<thead>
						<tr>
							<th>
								STT
							</th>
							<th>
								Ảnh
							</th>
							<th>
								Biển số xe
							</th>
							<th>
								Số khung xe
							</th>
							<th>
								Loại xe
							</th>
							<th>
								Trạng thái
							</th>
							<th>
								Tạo bởi
							</th>

							<th class="text-center text-lg-center"><i class="fas fa-sliders-h"></i></th>
						</tr>
					</thead>
					<tbody>
						@if (Model != null)
						{

							@foreach (var item in Model)
							{
								var statusClass = "";
								var statusText = "";

								switch (item.Status)
								{
									case EMotorbikeStatus.Renting:
										statusClass = "bg-warning";
										statusText = "Đang thuê";
										break;
									case EMotorbikeStatus.Ready:
										statusClass = "bg-success";
										statusText = "Sẵn sàng";
										break; 
									case EMotorbikeStatus.Broken:
										statusClass = "bg-danger";
										statusText = "Xe hỏng";
										break;
								}
 
								 
								<tr>
									<td>
										@((++index))
									</td>
									<td class="text-center">
										@if (!string.IsNullOrEmpty(item.ImageUrl))
										{
											<img src="@item.ImageUrl" alt="Motorbike Image" style="max-width: 70px; height: auto;" />
										}
										else
										{
											<img src="/assets/img/no-image-50.png" alt="Motorbike Image" style="max-width: 70px; height: auto;" />
										}
									</td>
									<td>

										<a asp-action="Details" style="text-decoration: none; color: black" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.License)</a>
									</td>
									<td class="d-flex align-items-center">
										@Html.DisplayFor(modelItem => item.VinNumber)
									</td>
									<td>
										@Html.DisplayFor(modelItem => item.TypeMotorbike.Name)
									</td>
									<td class="text-center">
										<span class="px-2 py-1 rounded text-white @statusClass">@statusText</span>
									</td>
									 
									<td style="text-align:center;">
										<div>
											@Html.DisplayFor(modelItem => item.CreatedBy)
										</div>
										<div>
											@item.CreationTime.ToString("dd/MM/yyyy HH:mm")
										</div>
									</td>

									<td class="text-center text-lg-center">
										<a asp-action="Edit" asp-route-id="@item.Id" class="text-warning" style="  margin-right:5px" data-bs-toggle="tooltip" data-bs-placement="top" title="Cập nhật"><i class="fas fa-edit fa-lg"></i></a>
										<a asp-action="Details" asp-route-id="@item.Id" class="text-info" style="  margin-right:5px"><i class="fas fa-info-circle fa-lg" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem chi tiết"></i></a>

										 
										<a onclick="Confirm(@item.Id)" class="text-danger" style="margin-right:5px" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa"><i class="fas fa-trash-alt fa-lg"></i></a>
										 
										@if (item.Status != EMotorbikeStatus.Renting)
										{
											<a href="#" onclick="BrokenMotor(@item.Id)" class="text-@(item.Status == EMotorbikeStatus.Ready ? "danger" : "success")" style="margin-right:5px" data-bs-toggle="tooltip" data-bs-placement="top" title="@(item.Status == EMotorbikeStatus.Ready ? "Chuyển xe hỏng" : "Chuyển xe sẵn sàng")">
												<i class="fas fa-@(item.Status == EMotorbikeStatus.Ready ? "exclamation-triangle" : "check-circle") fa-lg" style="font-size: 1.5em;"></i>
											</a>
										}
									</td>
								</tr>
							}
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</main>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				Bạn có chắc muốn xóa mục này !
			</div>
			<div class="modal-footer">
				<form id="deleteForm" method="post">
					<input type="hidden" id="deleteItemId" />
					<button type="submit" class="btn btn-danger">Xác nhận</button>
				</form>

				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>


<style>
	.bg-warning {
		background-color: #ffc107; 
		color: white;  
	}

	.bg-success {
		background-color: #28a745;  
		color: white; 
	}

	.bg-danger {
		background-color: #dc3545; 
		color: white;  
	}
</style>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script>
		 

		function BrokenMotor(id) {
			$.ajax({
				url: '/EMotorbike/ChangStatus/' + id,
				type: 'POST',
				success: function (response) {
					if (response) {
						window.location.reload();
					} else {
						alert('Đã xảy ra lỗi khi hủy đơn thuê.');
					}
				},
				error: function () {
					alert('Đã xảy ra lỗi khi gửi yêu cầu hủy đơn thuê.');
				}
			});
		}

		function ReadyMotor(id) {
			$.ajax({
				url: '/EMotorbike/ChangReady/' + id,
				type: 'POST',
				success: function (response) {
					if (response) {
						window.location.reload();
					} else {
						alert('Đã xảy ra lỗi khi hủy đơn thuê.');
					}
				},
				error: function () {
					alert('Đã xảy ra lỗi khi gửi yêu cầu hủy đơn thuê.');
				}
			});
		}
		setTimeout(function () {
			var successMessage = document.getElementById("successMessage");
			if (successMessage) {
				successMessage.style.display = "none";
			}
		}, 3000);


		function Confirm(id) {

			document.getElementById('deleteItemId').value = id;
		}


		document.getElementById('deleteForm').addEventListener('submit', function (event) {
			event.preventDefault();
			var id = document.getElementById('deleteItemId').value;

			$.ajax({
				url: '/EMotorbike/Delete/' + id,
				type: 'POST',
				success: function (response) {
					if (response) {

						window.location.reload();
					} else {

						alert('Đã xảy ra lỗi khi xóa mục này.');
					}
				},
				error: function () {

					alert('Đã xảy ra lỗi khi gửi yêu cầu xóa.');
				}
			});
		});




	</script>


}